<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    
    <!-- Home page -->
    <div id="home_content">
      <% if (title == "Home") { %>
        <%- include partials/home.ejs %>
      <% } %>
    </div>

    <% if (title == "Template 1") { %>
      <%- include partials/template1.ejs %>
    <% } %>

    <% if (title == "Template 2") { %>
      <%- include partials/template2.ejs %>
    <% } %>
      
  </main>

<%- include partials/footer.ejs %> 
