<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
  

<!-- Main Content -->
<main class="container" style="text-align:center; align-items: center; width:750px; background-color: lightgray; opacity: 0.8;">
  <section class="survey">

    
    <div class="row">
      <div class="col-md-offset-3 col-md-8">

        <h1 class="survey_title"><%=title %></h1>
        <% if(typeof displayName == 'string' && displayName) { %>
          <a href="/surveylist2/result" class="btn btn-dark" role="button">
            <i class ="fas fa-plus-circle"></i> Survey Result
        <%}%>
        </a>
        <br />
        <table class="table table-bordered table-striped table-hover" style="width:730px; background-color: lightgray; opacity: 0.8;">
          <!--HEader row-->
          <tr>
            <th class="text-center col-3">Survey Type</th>
            <th class="text-center col-3">Name</th>
            <th class="text-center col-3">Current Student</th>
            <th class="text-center col-3">Field of Interest</th>
            <th class="text-center col-4">Previous education</th>
            <th class="text-center col-4">Favorite sport</th>
            <th class="text-center col-3">Satisfied</th>
            
            <% if(typeof displayName == 'string' && displayName) { %>
  
            <th class="text-center"></th>
            <th class="text-center"></th>
            <%}%>
          </tr>

          <!--Repeatable Template row-->
          <% for (let count=0; count<Survey_List2.length; count++){%>
            <tr>
              <td class="text-center "><%=Survey_List2[count].surveyType %></td>
              <td class="text-center "><%=Survey_List2[count].answer1 %></td>
              <td class="text-center "><%=Survey_List2[count].answer2 %></td>
              <td class="text-center "><%=Survey_List2[count].answer3 %></td>
              <td class="text-center "><%=Survey_List2[count].answer4 %></td>
              <td class="text-center "><%=Survey_List2[count].answer5 %></td>
              <td class="text-center "><%=Survey_List2[count].answer6 %></td>

              <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-center col-1">
                <a href="/surveylist2/edit2/<%= Survey_List2[count]._id %>" class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
              <td class="text-center col-1">
                  <a href="/surveylist2/delete/<%= Survey_List2[count]._id %>" class="btn btn-outline-danger btn-sm">
                  <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
            <%}%>
            </tr>

          <%}%>

        </table>
      </div>
    </div>
</section>
</main>
  

<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 