<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
  

<!-- Main Content -->
<main class="container" style="text-align:center; align-items: center; width:750px; background-color: lightgray; opacity: 0.8;">
  <section id="survey">

    <div class="row">
      <div class="col-md-offset-3 col-md-8">
        <h1 id="survey_title"><%=title %></h1>
        <% if(typeof displayName == 'string' && displayName) { %>
  
        <a href="/surveylist3/result" class="btn btn-dark" role="button">
        <i class ="fas fa-plus-circle"></i> Survey Result
        <%}%>
        </a>
        <br />
        <table class="table table-bordered table-striped table-hover" style="width:730px; background-color: lightgray; opacity: 0.8;">
          <!--HEader row-->
          <tr>
            <th class="text-center">Survey Type</th>
            <th class="text-center">Name</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Age Gap</th>
            <th class="text-center">Frequency</th>
            <th class="text-center">Satisfied</th>
            <th class="text-center">Comments</th>
            
            <% if(typeof displayName == 'string' && displayName) { %>
  
            <th class="text-center"></th>
            <th class="text-center"></th>
            <%}%>
          </tr>
  
          <!--Repeatable Template row-->
          <% for (let count=0; count<Survey_List3.length; count++){%>
            <tr>
              <td class="text-centre "><%=Survey_List3[count].surveyType %></td>
              <td class="text-centre "><%=Survey_List3[count].answer1 %></td>
              <td class="text-centre "><%=Survey_List3[count].answer2 %></td>
              <td class="text-centre "><%=Survey_List3[count].answer3 %></td>
              <td class="text-centre "><%=Survey_List3[count].answer4 %></td>
              <td class="text-centre "><%=Survey_List3[count].answer5 %></td>
              <td class="text-centre "><%=Survey_List3[count].answer6 %></td>

              <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-center col-1">
                <a href="/surveylist3/edit/<%= Survey_List3[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
              <td class="text-center col-1">
                  <a href="/surveylist3/delete/<%= Survey_List3[count]._id %>" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
            <%}%>
            </tr>
          <%}%>
        </table>
      </div>
    </div>
</section>
</main>
  

<!--HTML Footer part-->
<%- include ../partials/footer.ejs %> 
